@color_connected: #185b00;
@color_disconnected: #e22626;
@color_1: #41362f;
@font_family_1: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

.knawat-admin-control {
	>input {
		width: 50%;
	}
}
.knawat-label {
	max-width: 100px;
	span.knawat-admin-label {
		width: 250px;
		display: inline-block;
	}
}
p.knawat-description {
	margin-left: 252px;
}
.knawat-label-2 {
	max-width: 100px;
	margin-right: 135px;
	span.knawat-admin-label {
		width: 250px;
		display: inline-block;
	}
}

.admin__page-section-title-knawat {
	border-bottom: 1px solid #cccccc;
	margin-bottom: 1.7rem;
	padding: 1.4rem 0 .5rem;
	color: @color_1;
	font-family: @font_family_1;
	font-style: normal;
	font-weight: 400;
	line-height: 1.36;
	font-size: 1.9rem;
}
.knawat-shipping {
	margin-top: 50px;
}
