<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Knawat_Dropshipping::elements" title="Dropshipping" module="Knawat_Dropshipping" resource="Knawat_Dropshipping::elements" sortOrder="20"/>
    </menu>
</config>
